@import url('https://fonts.googleapis.com/css?family=Poiret+One|Shadows+Into+Light');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* Grid System */
main {
  margin: 0;
  padding: 0 10px;
  max-width: 1000px;
  font-family: 'Shadows Into Light', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poiret One', helvetica,  sans-serif;
}

section::before,
section::after,
.row::after,
.row::before{
  display: table;
  content: ' ';
  clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%
}

.del-button{
  width: calc(100% / 8);
  margin-left: calc(100% / 32);
  margin-top: 0;
  padding: 0;
  float: right;
  background-color: rgb(0,0,0,0);
  color: grey;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
  float: right;
  top: 10px;
  height: 100%;
}

@media only screen and (min-width: 800px) {
  .one {
    width: 100%
  }
  .half{
    width: calc(100% / 2)
  }
  .one-third{
    width: calc(100% / 3)
  }
  .one-fourth{
    width: calc(100% / 4)
  }
  .one-eighth{
    width: calc(100% / 8)
  }
  .two-thirds{
    width: calc(100% / 3 * 2)
  }
  .three-fourths{
    width:calc(100% / 4 * 3)
  }
  .column{
    float: left
  }
}

/*button Styles*/
button{
  background-color: white;
  color: black;
  border: solid black 4px;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  margin: 10px 0;
  top: 10px;
  font-family: 'Poiret One', helvetica,  sans-serif;
}

#inputItem{
  display: inline-block;
  width: 80%;
  padding: 5px 5px;
  border: solid lightgrey 4px;
  min-height: 50px;
}

#addButton{
  display: inline-block;
  width: 15%;
  min-height: 50px;
}

/* List Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;

  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

li:hover {
  background: #f6f6f6;
}

li:first-child{
  border-top: 1px solid #ccc;
}

li div, input, button {
  display: inline-block;
}

li div{
  margin-left: 10px;
}



/* COMPLETED ITEMS */

.complete{
  background-color: #e6e6e6;
  color: grey;
  text-decoration: line-through;
}
